# CMake build files
/build/
/third_party/*
!/third_party/libfvad/
*.exe
*.dll
!vendor/ten-vad/lib/Windows/x64/ten_vad.dll
*.obj
*.ilk
*.pdb
*.exp
*.log
weights_blob.bin

# Visual Studio files
.vs/
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user

# Other
*.swp
*~
